@charset "UTF-8";

@font-face {
    font-family: fontefoda;
    src: url(fontes/Roman\ SD.ttf);
}

:root{
    --cor1: #B9A8A5;
    --cor2: #8C0303;
    --cor3: #D91414;
    --cor4: #31343A;
    --cor5: #0D0D0D;

}

body{
    /*background-color: rgb(98, 98, 98);*/
    background: url(imagens/wallpapertest.jpeg) center center;
}

header > nav{
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

.text-navbar{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 19px;
    transition: .5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    
}
.text-navbar:hover{
    color: var(--cor3);
    transition: .5s;
    font-size: 23px;
    
}

header{
    display: flex;
    align-items: center;

}

.logo{
    width: 90px;
    margin-left: 7px;
    align-items: flex-start;
}


section{
    width: 900px;
    height: 400px;
    background-color: rgb(41, 41, 41);
    display: flex;
    border-radius: 7px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.447);
    margin-top: 25px;
    margin: auto;
    margin-bottom: 55px;
}
.conteudo, .titulo{
    width: 415px;
    padding: 15px;
    font-family: fontefoda, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.imagem-base,
.lado{
    width: 50%;
    border-radius: 0 7px 7px 0;
    opacity: 1;
}

.conteudo-principal,
.conteudo-intehrantes{
    flex-direction: column;
    width: 50%;
}

.navbar-right{
    display: flex;
    align-items: flex-end;
}

#caixa{
    border: 0;
    border-radius: 7px;

}
.lupa{
    width: 40px;
    margin-right: 5%;
}

.gallery{
    display: flex;
    flex-flow: row nowrap; /*Não faz as imagens quebrar de linha ao chegar no final da width*/
    gap: 45px;
}

.integrantes{
    position: relative;
    margin: 0 auto;
    
}

.gallery-wrapper{
    margin: auto;
    overflow-x: auto; /*Se passar do elemento pai, vai ter barrinha de rolagem*/
    
  }



  .item{
    flex-direction: column;
    opacity: .2;
    margin: 0 45px;
    background-color: var(--cor4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
  }

  .principal-item{
    opacity: 1;
    
    height: auto;
  }

.item > h1, .item > p {
    width: 300px;
    color: white;
    text-align: center;
}
  

